[submodule "xv6-public"]
	path = xv6-public
	url = https://github.com/mit-pdos/xv6-public.git
[submodule "xv6-riscv-fall19"]
	path = xv6-riscv-fall19
	url = https://github.com/mit-pdos/xv6-riscv-fall19.git
